// Global namespace for nav component
$nav-namespace: "c-nav" !default;

.#{$nav-namespace} {
	padding-left: 0;
	margin-left: 0;
	list-style-type: none;

	&__item {
		display: inline-block;
		text-decoration: none;
		border-bottom: 2px solid transparent;

		&:hover {
			border-bottom: 2px solid $gray-dark;
		}

		+.#{$nav-namespace}__item {
			margin-left: 1.5rem;
		}
	}

	&__link {
		text-decoration: none;
	}
}
